.detail__container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail__container img {
  width: 400px;
  height: 550px;
  margin-right: 50px;
  border-radius: 20px;
}

.contents {
  width: 600px;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail__title {
  color: #c0392b;
  font-weight: 500;
  font-size: 48px;
}

.movie__genres {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

.movie__genres li {
  font-size: 15px;
  font-weight: 500;
  font-size: 18px;
}